@use "media" as *;

$color-main: #EE2429;
$color-white: #ffffff;
$color-grey: #E6E8F1;

.align-center {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 100%;
}

.fade-enter-active {
	transition: opacity .3s linear .1s;
}
.fade-enter {
	opacity: 0;
}
.fade-leave {
	opacity: 0;
}

@mixin title {
	display: flex;
	justify-content: center;
	text-align: center;

	h2 {
		font-size: 4.5rem;
		font-weight: 300;
		line-height: 5.5rem;
		text-transform: uppercase;
		span {
			font-size: 4.5rem;
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .3rem;
			padding-bottom: 3rem;
		}
		@include ipad(landscape) {
			font-size: 4rem;
			span {
				font-size: 4rem;
				letter-spacing: .2rem;
			}
		}
		@include max-screen($medium) {
			font-size: 4rem;
			span {
				font-size: 4rem;
				letter-spacing: .2rem;
			}
		}
	}
}